
.appBody{
  background: #2F303a;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-body{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  background: #191919;
  flex-grow: 1;
}
.footer{
  background:rgba(0,0,0,1);
  
}
.nav-links{
  list-style: none;
  display: inline-flex;
  /* flex-direction: column; */
  float: right;
}
.header-group{
  background:black;
  height: 50px;
 
}

ul li {
  margin: .5em;
  width: 80px;
  height: 30px;
  text-align: center;
  align-items: center;
  
}

ul li:hover{
  background: green;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

ul li a:hover {
  text-decoration: none;
  color: white;

}
.active{
  background: red;
}

.hide{
  display: none;
}

@media(max-width:700px){
  .Appbar{
    display: none;
  }

  .nav-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .header-group{
    height: 150px;
    display: none;
  }
  .nav-links{
    list-style: none;
    display: inline-flex;
    /* flex-direction: column; */
    display: flex;
    float: right;
  }
 
 
}
@media(min-width:700px){
  .header-group-icon{
    display:none;
    
  }
}

.hide-menu{
  transition: 1s;
  display: none;
  
}
.menu-icon:hover{
  background: rgb(11, 107, 59);
}

.title-page{
  display: inline-flex;
  padding: 10px;
}
.title-page h6{
  margin-right: 5px;
}